.autostow_result {
   display: flex;
   margin-top: 0.1rem;
   margin-bottom: 2rem;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   padding: 1.2rem;
   width: 250px;
   min-height: 180px;
   border: #bd905a dashed 1.5px;
   border-radius: 1rem;
   align-items: center;
}

.autostow_result h4 {
   color: white;
   font-family: var(--font-family);
   font-weight: 100;
   font-size: 22px;
   line-height: 20px;
}

.autostow_text {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   margin: 0.5rem 1rem;
}

.autostow_text input {
   min-height: 30px;
   border: none;
   border-radius: 8px;
   font-family: var(--font-family);
   font-weight: 200;
   font-size: 16px;
   text-align: center;
   margin: 1.5rem 1rem;
}

.autostow_button {
   padding: 0.5rem 1rem;
   background: #bd905a;
   border-radius: 10px;
   border: 0;
   color: #fff;
   font-family: var(--font-family);
   font-weight: 300;
   font-size: 18px;
   line-height: 20px;
   cursor: pointer;
   box-shadow: 0px 0px 24px rgba(149, 157, 165, 0.5);
   transition: background-color 0.4s;
   min-width: 180px;
}
.autostow_button:hover {
   background-color: #b38043;
}
