.nk__header {
   display: flex;
   flex-direction: row;
}

.nk__header-content {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   margin-right: 8rem;
   margin-left: 6rem;
}

.nk__header-content h1 {
   font-family: var(--font-family);
   font-weight: 800;
   font-size: 62px;
   line-height: 75px;
   letter-spacing: -0.04em;
}

.nk__header-content p {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   color: var(--color-text);
   margin-top: 1.5rem;
}

.nk__header-content__getStarted button {
   flex: 0.6;
   width: 200%;
   min-height: 50px;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   background: #bd905a;
   border: 4px solid #bd905a;
   padding: 0 1rem;
   color: #fff;
   cursor: pointer;
   outline: none;
   border-radius: 10px;
   margin-top: 2rem;
}

.nk__header-image {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
}

.nk__header-image img {
   width: 90%;
   height: 100%;
}

@media screen and (max-width: 1050px) {
   .nk__header {
      flex-direction: column;
   }

   .nk__header-content {
      margin: 0rem 3rem 3rem;
   }
}

@media screen and (max-width: 650px) {
   .nk__header-content h1 {
      font-size: 48px;
      line-height: 60px;
   }

   .nk__header-content p {
      font-size: 16px;
      line-height: 24px;
   }

   .nk__header-content__getStarted button {
      font-size: 16px;
      line-height: 24px;
   }
}

@media screen and (max-width: 490px) {
   .nk__header-content h1 {
      font-size: 36px;
      line-height: 48px;
   }

   .nk__header-content p {
      font-size: 14px;
      line-height: 24px;
   }

   .nk__header-content__getStarted button {
      font-size: 12px;
      line-height: 16px;
   }
}
